[Unit]
Description=NOAA Space Weather Alerts
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
Environment="DISPLAY=:0"
ExecStart=screen -DmS space_weather_alerts /bin/bash -c '/usr/local/bin/space_weather_alerts -ar; exec bash'
Restart=on-failure

[Install]
WantedBy=default.target
